<div class="container full-width" id="shelf-container">

  <div class="row">

    <div class="liqs_adder alt-font">
      <br>
        ADD INGREDIENTS TO YOUR SHELF
      <div class="col-md-12">
         <form>
          <input class="form-control" id="ingredient_search" type="text"/>
        </form>
      </div>
      <div class="col-md-12 shelf-ingredients text-center">
        <br>
          <% @ingredients.each do |i| %>

          <div class="ingli">
            <%= i.name %>
            <br>
          </div>

          <% end %>

      </div>

    </div>



  </div>

</div>
