<div class="container full-width" id="shelf-container">
  <div class="row">
    
    <!-- INGREDIENT ADDER -->
    <div class="col-md-3 liqs_adder alt-font white-text">
      
      <br>
        ADD INGREDIENTS TO YOUR SHELF
    
      <div class="col-md-12">
         <form>
          <br>
          <input class="form-control" id="ingredient_search" type="text"/>
        </form>
      </div>
      
      <div class="col-md-12">
        <br>
        <hr>
      </div>

      <div class="col-md-12 shelf-ingredients text-center">
          <% @ingredients.order(:name).each do |i| %>
            <div class="ingli">
             <%= link_to i.name, add_ingredient_path(@shelf, i) %>
              <br>
            </div>
          <% end %>
      </div>
    </div>

    <!--  SHELFED INGREDIENTS -->

    <% @shelf.ingredients.each do |si| %>

      <div class="col-md-2 liq-ing shadowed text-center">
          <%= image_tag ("bottle_mix.png"), class: "bottle" %>  
            <div class="liqtext alt-font">
              <%= si.name %>
            </div>
     </div>

    <% end %>


  </div>
</div>
