<div class="container">

  <div class="col-md-12 main-font white-text large-text">
    <div class="col-md-3 text-center"> 
      <%= @drink.name %>
    </div>
    <hr>
  </div>


    <div class="col-md-1"> </div>
  <div class="col-md-6 white-text small-text alt-font">
    <%= simple_format @drink.description %>
  </div>

</div>