// Place all the styles related to the shelfs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.white-text {
  color: white;
}

.light-text {
  font-weight: lighter;
}

.bold-font {
  font-weight: bold;
}

.large-text {
  font-size: 48px;
}

.larger-text {
  font-size: 72px;
}

.medium-text {
  font-size: 32px;
}

.small-text {
  font-size: 22px;
}

.smaller-text {
  font-size: 10px;
}

.shadowed {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
}

.shadowed-inset {
  box-shadow: inset 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
}

.light-shadowed {
  box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.25);
}

.text-shadow {
  text-shadow: 0px 5px 20px rgba(50, 50, 50, 0.75);
}

.main-font {
  font-family: 'Lobster', cursive;
}

.alt-font {
  font-family: Montserrat;
}

.form-control {
  background: none;
  color: white;
  border-color: #e8d136;
  border-radius: 0px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
}

.form-control:focus {
  background: none;
  border-radius: 0px;
  border-color: #e8d136;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.75);
}

.nav-header {
  font-family: Montserrat;
  height: 135px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.liqs_adder {
  text-align: center;
  height: 450px;
  width: 300px;
  transition: 0.3s;
  margin: 25px;
}

.ingli {
  transition: 0.3s;
  text-shadow: 0px 5px 30px rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
}

hr {
    height: 30px;
    border-style: solid;
    border-color: white;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}


#liq-plus {
  height: 150px;
  padding-top: 35px;
  transition: 0.3s;
}

.liq-ing {
  margin: 25px;
  width: 150px;
  height: 225px;
  transition: 0.3s;
}

.liqtext {
  color: white;
  padding-top: 15px;
}

.shelf-ingredients {
  overflow: scroll;
  height: 270px;
  margin-top: -20px;
  }

.bottle {
  height: 150px;
  padding-top: 20px;
}

.site-title {
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
  color: #e8d136;
  font-size: 80px;
  text-shadow: 0px 5px 20px rgba(50, 50, 50, 0.75);

}

.nav-header a {
  position: relative;
  top: 60px;
  padding: 10px;
  color: white;
  transition: 0.2s;
}